# Convert line endings to the OS's line endings on checkout, then back to LF on commit.
# This way, the remote repository always has LF line endings, but Windows users will have CRLF locally.
# Equivalent to "git config --global core.autocrlf true"
* text=auto
